<footer>
  <div class="content-padding">

    <div class="footer-content">
      <p> Copyright &copy; 2016</p>
    </div>

    <div class = "social-media-icons">
      <a><i class = "fa fa-empire"></i></a>
      <a><i class = "fa fa-rebel"></i></a>
    </div>

  </div>
</footer>
